body { background-color: #fa8fb1; }

h1 {
    font-family: "Chapaza";
    font-weight: bold;
    font-size: 250px;
    color: #fff;
    padding-top: 250px;
    text-align: center;
    position: relative
}

#Perfil {
    font-family: "Chapaza";
    font-weight: bold;
    font-size: 250px;
    color: #fff;
    padding-top: 80px;
    text-align: center;
    position: relative
}

h5 {
    font-family: "Chapaza";
    font-weight: bold;
    font-size: 50px;
    color: #fff;
    padding-top: 25px;
    text-align: center;
    position: relative
}

#Tile_product {
    font-family: "Chapaza";
    font-weight: bold;
    font-size: 250px;
    color: #fff;
    padding-top: 25px;
    text-align: center;
    position: relative
}

p{
    font-family: "Chapaza";
    font-size: 25px;
    text-align: center;
}

h4 {
    font-family: "Chapaza";
    text-align: center;
    font-size: 30px;
}

#h4Fuera {
    color: white;
    font-weight: bold;
    font-family: "Chapaza";
    text-align: center;
    font-size: 50px;
}

#h4Fuera2 {
    color: white;
    font-weight: bold;
    font-family: "Chapaza";
    text-align: center;
    font-size: 40px;
}

#BillsFormat {
    color: white;
    font-weight: bold;
    font-family: "Chapaza";
    font-size: 30px;
}

#footerAbsolute {
    text-align: center;
    padding: 30px 100px;
    background: rgba(50,50,50);
    position: Absolute;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 11px;
    font-weight: bold;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


#buttonComprar {
    color: white;
    background-color: #fa8fb1;
    border: 8px solid white;
    font-family: "Chapaza";
    text-align: center;
    font-size: 50px;
}


#buttonComprar:hover {
    color: white;
    background-color: #d86d85;
    border-color: white;
}

#buttonEliminar {
    color: #7fb2a1;
    background-color: #c7e5dc;
    border: 3px solid white;
    font-family: "Chapaza";
    text-align: center;
    font-size: 30px;
}


#buttonEliminar:hover {
    color: white;
    background-color: #508976;
    border-color: white;
}